@using PalmTreeRecipe.Models;
@model RecipeSearch

<link rel="stylesheet" type="text/css" href="~/css/searchRecipe.css" />

<div class="body-content">
    @using(Html.BeginForm("SearchRecipe", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.TypedText, "Search: ")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.TypedText)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchByUserID, "User: ")
                </td>
                <td>
                    @*todo: add user drop down list to choose from*@
                    @Html.TextBoxFor(m => m.SearchByUserID)
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>
    }

    <div class="searchResultArea">
        <table>
            <tr>
                <th>Recipe Name</th>
                <th>Created On</th>
                <th>Created By User</th>
                <th>View</th>
            </tr>
            @foreach (RecipeItemView result in Model.SearchResults)
            {
                <tr>
                    <td>
                        <p>@result.Recipe.RecipeName</p>
                    </td>
                    <td>
                        @result.Recipe.CreatedOnDateTime.ToString("M/d/yyyy")
                    </td>
                    <td>
                        @result.CreatedByUser.username
                    </td>
                    <td>
                        @Html.ActionLink("View Recipe", "ViewRecipe", "Home", new { @RecipeID = result.Recipe.RecipeID }, new { @class = "viewRecLink" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript" src="~/js/searchRecipe.js"></script>