@using PalmTreeRecipe.Models;
@model RecipeSearch

<div class="body-content">
    @using(Html.BeginForm("SearchRecipe", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.TypedText, "Search: ")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.TypedText)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchByUserID, "User: ")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchByUserID)
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>
    }

    <div class="searchResultArea">
        <table>
            <tr>
                <th>Recipe Name</th>
                <th>Created On</th>
                <th>Created By User</th>
                <th>View</th>
            </tr>
            @foreach (Recipe result in Model.SearchResults)
            {
                <tr>
                    <td>
                        <p>@result.RecipeName</p>
                    </td>
                    <td>
                        @result.CreatedOnDateTime
                    </td>
                    <td>
                        @result.UserID
                    </td>
                    <td>
                        @Html.ActionLink("View Recipe", "ViewRecipe", "Home", new { @RecipeID = result.RecipeID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchByUserID").val("");
    })
</script>