@using PalmTreeRecipe.Models
@model Recipe

<link rel="stylesheet" type="text/css" href="~/css/viewRecipe.css" />

<div class="body-content">
    <div class="recipeTitle">
        <h2>@Model.RecipeName</h2>
    </div>
    <div class="recipeIngredients">
        <table class="viewRecipeTbl">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
            @foreach(Ingredient ingredient in Model.Ingredients)
            {
                <tr>
                    <td>
                        @ingredient.name
                    </td>
                    <td>
                        @ingredient.quantity
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="recipeSteps">
        <table class="viewRecipeTbl">
            <tr>
                <th>Steps</th>
            </tr>
            @{ 
                int stepIdx = 1;
            }  
            @foreach(Step step in Model.Steps)
            {
                <tr>
                    <td>
                        @stepIdx.ToString(). @step.text
                    </td>
                </tr>
                stepIdx++;
            }
        </table>
    </div>
    <div class="recipeActions">
        <ul>
            <li>
                <form method="get" action="">
                    <input type="image" src="~/images/fb_share.png" class="actionIcon" id="btnFBShare" />
                    <p>Share on Facebook</p>
                </form>
            </li>
            <li>
                @using (Html.BeginForm("ReviewRecipe", "Home", FormMethod.Get))
                {
                    <input type="image" src="~/images/leave_feedback.png" class="actionIcon" id="btnReview" name="RecipeID" value="@Model.RecipeID" />
                    <p>Review Recipe</p>
                }
            </li>
            <li>
                <input type="image" src="~/images/share_as_email.png" class="actionIcon" id="btnEmailShare" />
                <p>Email Recipe</p>
            </li>
        </ul>
    </div>
</div>