<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PalmTreeRecipe</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@using Microsoft.AspNetCore.Http;
<body>
    <nav>
        <ul>
            <li>
                <p>
                    @Html.ActionLink("Home", "Index", "Home")
                </p>
            </li>
            <li>
                <p>
                    @Html.ActionLink("Find a Recipe", "SearchRecipe", "Home")
                </p>
            </li>
            @if (!string.IsNullOrEmpty(Context.Session.GetString("sessionid")))
            {
                <li>
                    <p>
                        @Html.ActionLink("Profile", "Profile", "Home")
                    </p>
                </li>
                <li>
                    <p>
                        @Html.ActionLink("Create Recipe", "CreateRecipe", "Home")
                    </p>
                </li>
                <li>
                    <p>
                        @Html.ActionLink("Logout", "Logout", "Home")
                    </p>
                </li>
            }
            else
            {
                <li>
                    <p>
                        @Html.ActionLink("Login", "Login", "Home")
                    </p>
                </li>
                <li>
                    <p>
                        @Html.ActionLink("Register", "CreateUser", "Home")
                    </p>
                </li>
            }
            <li>
                <p>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </p>
            </li>
        </ul>
    </nav>

    <div class="container">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; 2020 - PalmTreeRecipe</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
