<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PalmTreeRecipe</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <p>
                    @Html.ActionLink("Home", "Index", "Home")
                </p>
            </li>
            <li>
                <p>
                    @Html.ActionLink("Login", "Login", "Home")
                </p>
            </li>
            <li>
                <p>
                    @Html.ActionLink("Register", "CreateUser", "Home")
                </p>
            </li>
            <li>
                <p>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </p>
            </li>
        </ul>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - PalmTreeRecipe</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
